* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #082f92;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the app horizontally */
  padding: 16px; /* Add some padding for small screens */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; /* Use percentage for responsiveness */
  max-width: 350px; /* Limit the maximum width */
  min-height: 440px;
  background-color: rgb(13, 3, 79);
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  padding: 16px; /* Reduce padding for smaller screens */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.city-search {
  width: 100%;
}

.city {
  border: 2px solid rgb(204, 204, 204);
  outline: none;
  border-radius: 20px;
  font-size: 1rem; /* Use rem for font size */
  background-color: #e5eefe;
  padding: 6px 30px;
  transition: width 0.4s ease-in-out; /* No need for vendor prefix */
  color: #333;
}

.city-name {
  font-size: 1.5rem;
  color: #6ffb7b;
  margin: 15px 0 8px;
}

.date {
  font-size: 1.5rem;
  font-weight: 500;
  color: #b5b1b1;
}

.icon-temp {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  color: #f0a7f0;
  text-align: center;
  align-items: center;
}

.deg {
  font-size: 1.3rem;
  vertical-align: super;
  margin-top: 10px;
}

.des-wind {
  font-weight: 500;
  color: #e1f36d;
  font-size: 1.375rem; /* Use rem for font size */
  margin-top: 10px;
}

.des-wind .second-p {
  margin-top: 10px;
}

.error-message {
  display: block;
  text-align: center;
  color: #e17a7a;
  font-size: 1.5rem; /* Use rem for font size */
  margin-top: auto;
}

/* Media Queries */
@media (min-width: 600px) {
  .weather-app {
    width: 80%;
    padding: 24px; /* Increase padding for larger screens */
  }

  .city {
    font-size: 1.25rem; /* Increase font size for larger screens */
    padding: 8px 40px;
  }

  .city-name {
    font-size: 1.75rem;
  }

  .date {
    font-size: 1.75rem;
  }

  .icon-temp {
    font-size: 3.5rem;
  }

  .deg {
    font-size: 1.5rem;
  }

  .des-wind {
    font-size: 1.5rem;
  }

  .error-message {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .weather-app {
    width: 70%;
    max-width: 400px; /* Adjust max width for larger screens */
    padding: 32px;
  }

  .city {
    font-size: 1.5rem;
    padding: 10px 50px;
  }

  .city-name {
    font-size: 2rem;
  }

  .date {
    font-size: 2rem;
  }

  .icon-temp {
    font-size: 4rem;
  }

  .deg {
    font-size: 1.75rem;
  }

  .des-wind {
    font-size: 1.75rem;
  }

  .error-message {
    font-size: 2rem;
  }
}
